<!DOCTYPE html>
<html lang="en">
  <head>
	  <!-- Import Website Data -->
    <%- include ('partials/head.ejs') %>
  </head>
  <body>
    <!-- Import Header Data -->
    <%- include ('partials/header.ejs') %>
    <div id="hero-image-notFound">
      <h1 id="hero-title">Hello There! This Page Doesn't Appear To Exist</h1>
    </div>
    	<!-- Import Footer & Other Website Data -->
      <%- include ('partials/footer.ejs') %> <%- include ('partials/scripts.ejs') %>
  </body>
</html>